body, html{
			height: 100%;
			margin: 0px;
			padding-right: 0px;
			font-family: 'Montserrat', sans-serif;
		}
		h1{
			margin: 0;
			text-align: center;
			font-size: 85pt;
			color: white;
		}
		.main_img{
			background-attachment: fixed;
   	 		background-position: center;
  			background-size: cover;
  			height: 100%;
  			opacity: 95%;
   		}
		#img_1{
			min-height: 100%;
			background-image: url("img_folder/background_image.jpg");
			position: relative;			
		}
		.name{
			position: absolute;
			top:52%;
			left: 3%;
			text-shadow: 3px 3px 3px black;
			opacity: 85%;
		}
		#nav{
			position: fixed;
			top:9px;
			z-index: 1;
		}
		#nav a{
			padding: 7px 14px;
			text-decoration: none;
			font-size: 13pt;
			color: #FFF;
		}
		#about-me{
			background-color: #2F3C5B;
			color:white;
			margin-top: -10px;
			padding: 5% 20%;
		}
		#paragraph{
			width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
		#paragraph p{
			float: right;
			width: 45%;
			padding: 15px;
			margin-top: 15px;
			text-align: center;
		}	
		#paragraph img{
			width: 30%;
			float: 3px;
		}
		 #resume{
		 	padding: 5% 20%; 
		 	background-color:#727E94;
		 	color: white;}
		 #resume img{
		 	width: 92%;
		 }
		 #contact{
		 	color: white;
    		padding: 7% 10% 5%;
    		background-color: #778390;
    		margin: auto;
    		text-align: center;

		 }
		 #contact img{
		 	width: 5%;
			margin: 15px 12px;
		 }
		 .spotify{
		 	width: 300px; 
    		height: 80px;
    		margin-top: 15px;
    		border:0;
    	}